.projectSection{
    text-align: left;
}

.projectSection > h1{
    font-size: 3rem;
}

.projectContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

@media (max-width: 600px){
    .projectSection > h1{
        font-size: 2rem;
        text-align: left;
    }

    .projectContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 1rem;
        align-items: center;
    }
}